:root {
  --header-height: 48px;
  --el-aside-width: 192px;
  --main-margin: 8px;
  --main-padding: 8px;

  --body-background-color: #f5f7fa;
  --aside-background-color: #263445;
  --header-background-color: #1d2b3a;
  --main-background-color: #ffffff;
  --el-menu-bg-color: var(--aside-background-color);
  --el-menu-hover-bg-color: #1d2b3a;
  --el-menu-text-color: #bfcbd9;
  --el-menu-active-color: var(--el-color-primary);
}
